@mixin displayCenter ($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
} 

.text_comparison_container{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 24px 40px 24px 24px;
}

// Responsive

@media screen and (max-width: 1024px) {
  .text_comparison_container {
    padding: 28px;
  }
}

@media screen and (max-width: 650px) {
  .text_comparison_container {
    padding: 16px;
  }
}
