@font-face {
  font-family: "helvetica";
  src: url(../../assets/fonts/helvetica-light-587ebe5a59211.ttf) format("woff2");
}

@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

header {
  position: relative;
  width: 100%;
  max-width: 240px;
  height: 100vh;
  background-color: var(--blue);
  padding: 12px 0px 12px 12.8px;
  transition: max-width 0.5s ease-in-out;
  overflow: hidden;
  .icons {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    right: 27px;
    transition: right 0.5s ease-in-out, transform 0.5s ease-in-out;
    .row {
      font-size: 20px;
      color: var(--transparent_white);
      cursor: pointer;
    }
  }
  .resp_menu {
    display: none;
  }
  .logo_cont {
    @include displayCenter(flex-start, center);
    margin: 33px 0px 51px 0px;
    gap: 11px;
    cursor: pointer;
    .logo {
      width: 42.65px;
      height: 44px;
      margin-left: 12px;
    }
    .logo_text {
      font-size: 15px;
      font-weight: 600;
      color: var(--white);
      text-transform: uppercase;
      font-family: "helvetica";
      opacity: 1;
      overflow: hidden;
      white-space: nowrap;
      vertical-align: middle;
      transition: opacity 0.5s ease-in-out, max-width 0.5s ease-in-out;
    }
  }
  nav {
    ul {
      li {
          .label {
            position: relative;
            visibility: visible;
            opacity: 1;
            width: 100%;
            overflow: hidden;
          }
      }
    }
  }
  &.close {
    max-width: 78px;
    .icons {
      right: 12px;
      transform: rotate(180deg);
    }
    .logo_cont {
      .logo_text {
        opacity: 0;
        pointer-events: none;
      }
    }
    nav {
      ul {
        li {
            .label {
              max-width: 0;
              opacity: 0;
              pointer-events: none;
            }
        }
      }
    }
  }
}

// Responsive

@media screen and (max-width: 1025px) {
  header {
    width: 100%;
    max-width: none;
    height: max-content;
    padding: 12px 0px 0px 0px;
    .icons {
      display: none;
    }
    .resp_menu {
      @include displayCenter(center, center);
      position: absolute;
      top: 18px;
      right: 18px;
      width: 24px;
      height: 24px;
      .menu {
        font-size: 20px;
        color: var(--transparent_white);
        cursor: pointer;
      }
    }
    .logo_cont {
      margin: 0px 20px;
      .logo {
        width: 34.9px;
        height: 36px;
        margin: 0px;
      }
    }
  }
}
