:root {
  --white: #ffffff;
  --white_blue: #F0F7FF;
  --darker_white: #ededed;
  --transparent_white: #ffffff80;
  --transparent_blue: #383a4899;
  --transparent_gray: #747682ac;
  --blue: #132450;
  --lighter_blue: #4571E4;
  --light_blue: #f0f7ff;
  --gray: #383a48;
  --green: #3ebc5e;
  --red: #ff2d55;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
