:root {
  --white: #ffffff;
  --transparent_white: #FFFFFF80;
  --blue: #132450;
  --light_blue: #f0f7ff;
  --gray: #383a48;
  --green: #3ebc5e;
  --red: #ff2d55;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
